<title>Shared Todo App</title>

<div class="container">

<div class="row">

<div class="span12">

<h1>Change Your Settings</h1>

<div class="span4">

<div class="well">




</div> <!-- well -->

</div> <!-- span4 -->

</div> <!-- span12 -->

</div> <!-- row -->

</div> <!-- container -->